###################
## Visual Studio ##
###################
[Dd]ebug/
[Rr]elease/
*.lib
*.exe
*.ilk
*.pdb
*.opensdf
*.sdf
*.suo
*.user

#############
## Windows ##
#############
Thumbs.db
Desktop.ini

##########
## Core ##
##########
CoreLog.log
